<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/base/css/base.css">
    <!--[if lt IE 9]> <script src="/js/html5.js"></script> <script src="/js/css3-mediaqueries.js"></script> <![endif]-->
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container {{pageclass}}" page="{{pagename}}">
      {% include "./header.html" %}
      <div class="center-area main">
        {% block main %}{% endblock %}
      </div>
      {% include "./footer.html" %}
    </div>
    <!-- <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/base/js/jquery.min.js"></script>
    <script type="text/javascript" src="/base/js/utils.js"></script>
    {% block js %}{% endblock %}
  </body>

</html>